<a href="https://colab.research.google.com/github/faisalnawazmir/Python_Lectures/blob/main/Data_Structrue__String2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String methods

**Strings** are an example of Python *objects*. An object contains both data (the actual string itself) and methods, which are effectively functions that are built into the object and are available to any instance of the object.

Python has a function called **dir** which lists the methods available for an object. The type function shows the type of an object and the dir function shows the available methods.

In [ ]:
mystring='Hello World!'

In [ ]:
type(mystring)

str

In [ ]:
dir(mystring)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
  help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

While the dir function lists the methods, and you can use help to get some simple documentation on a method, a better source of documentation for string methods would be https://docs.python.org/library/stdtypes.html#string-methods.

Calling a method is similar to calling a function (it takes arguments and returns
a value) but the syntax is different. We call a method by appending the method
name to the variable name using the period as a delimiter.
For example, the method upper takes a string and returns a new string with all
uppercase letters:
Instead of the function syntax upper(word), it uses the method syntax
word.upper().

In [ ]:
word='apple'
newword=word.upper()
print(newword)

APPLE

A method call is called an invocation; in this case, we would say that we are
invoking upper on the word.
For example, there is a string method named find that searches for the position
of one string within another:

In [ ]:
word='banana'
index=word.find('a')
print(index)

1

In this example, we invoke find on word and pass the letter we are looking for as
a parameter.
The find method can find substrings as well as characters:

In [ ]:
word.find('na')

2

It can take as a second argument the index where it should start:

In [ ]:
word.find('na',3)

4

One common task is to remove white space (spaces, tabs, or newlines) from the
beginning and end of a string using the strip method:

In [ ]:
line=' Here we go '
line.strip()

'Here we go'

Some methods such as startswith return boolean values.

In [ ]:
line='Have a nice day'
line.startswith('Have')

True

In [ ]:
line.startswith('h')

False

You will note that startswith requires case to match, so sometimes we take a line
and map it all to lowercase before we do any checking using the lower method.

In [ ]:
line.lower()

'have a nice day'

In [ ]:
line.lower().startswith('h')

True

#Parsing strings

Often, we want to look into a string and find a substring. For example if we were
presented a series of lines formatted as follows:

_From stephen.marquard@** uct.ac.za** Sat Jan
 5 09:14:16 2008_

and we wanted to pull out only the second half of the address (i.e.,** uct.ac.za**)
from each line, we can do this by using the find method and string slicing.

First, we will find the position of the at-sign in the string. Then we will find the
position of the first space after the at-sign. And then we will use string slicing to
extract the portion of the string which we are looking for.

In [ ]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
atpos=data.find('@')
print(atpos)

sppos=data.find(' ',atpos)
print(sppos)

host=data[atpos+1:sppos]
print(host)

21
31
uct.ac.za

#Format operator

The format operator, % allows us to construct strings, replacing parts of the strings
with the data stored in variables.

In [ ]:
camel=42
'%d' %camel

'42'

The result is the string ‘42’, which is not to be confused with the integer value 42.

In [ ]:
camels=42
'I have spotted %d camels.' % camels

'I have spotted 42 camels.'

If there is more than one format sequence in the string, the second argument has
to be a tuple1. Each format sequence is matched with an element of the tuple, in
order.
The following example uses %d to format an integer, %g to format a floating-point
number (don’t ask why), and %s to format a string:

In [ ]:
'In %d years I have spotted %g %s.' % (3, 0.1, 'camels')

'In 3 years I have spotted 0.1 camels.'

#fstring

Let’s start with some basic examples to have some fresh taste with some simplest usages, as shown below. In essence, the f-strings are string literals with the f letter, either lower or upper case, as the prefix. String literals are basically strings that are enclosed by a pair of quotes (i.e., quotation marks), and Python treats single and double quotes the same, as long as they come in pairs

In [1]:
#interpolate a string
name='Elan'
f'hello {name}'

'hello Elan'

In [2]:
#interpolate an integer
id=123
f'My student id # is {id}'

'My student id # is 123'

In [8]:
# interpolate a list
fruits=['apple','banana','mango']
f'My favourite fruits are: {fruits}'

'my mango'

In [10]:
# Interpolate a tuple
http_response = ('data', 200)
f"Http Response: {http_response}"

 
 # Interpolate a dictionary
grades = {"John": 95, "Jennifer": 98}
f"Grades: {grades}"

"Grades: {'John': 95, 'Jennifer': 98}"

In [11]:
# Access an element in a list
pets = ["Dogs", "Cats", "Turtles"]
f"My pet: {pets[-1]}"

# With a function call
name = "john"
f"Name: {name.title()}"


# Some calculation
number = 5
f"Square: {number*number}"

'Square: 25'

#Numeric and String Formatting

In [12]:
# Big numbers separator
big_number = 98765432123456789
f'{big_number:_d}'

'98_765_432_123_456_789'

In [13]:
# Floating numbers formatting
more_digits = 2.345678
f"2 digits: {more_digits:.2f}; 4 digits: {more_digits:.4f}"

'2 digits: 2.35; 4 digits: 2.3457'

In [14]:
# Scientific notation
sci_number = 0.0000043203
f"number: {sci_number:e}"

'number: 4.320300e-06'

source:https://medium.com/swlh/string-formatting-in-python-6-things-to-know-about-f-strings-72fd38d96172